#root {
  background-color: #f6f6ef;
}
.story-list {
  list-style: none;
}
.story-itm {
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ff742bff;
  gap: 1em;
}
form {
  color: #555;
  display: flex;
  /* padding: 2px; */
  border: 1px solid currentColor;
  /* border-radius: 5px; */
  width: 70%;
  height: 3em;
}

input[type='search'] {
  width: 100%;
  border: none;
  background: #fff;
  margin: 0;
  /* padding: 0 8px; */
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  /* border-radius: inherit; */
}

input[type='search']::placeholder {
  color: #9f9f9dff;
  font-size: 16px;
}

button[type='submit'] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: none;
  /* border-radius: inherit; */
  background: #fff
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ff742b' stroke='%23ff742b' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
}

button[type='submit']:hover {
  opacity: 1;
}

li > a {
  color: #9f9f9dff;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

select {
  color: #5a5f6d;
  background-color: #f6f5f0;
  border-color: #cecdc8;
  width: 18vh;
  height: 20px;
  font-size: 18px;
}

form {
  background-color: #f6f5f0;
  text-align: left;
  margin-left: 10px;
}
label {
  margin: 5px;
}

.searchCriteria {
  width: fit-content;
  block-size: fit-content;
}

.forCriteria {
  width: fit-content;
  block-size: fit-content;
}

.byCriteria {
  block-size: fit-content;
  width: fit-content;
}

