.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  color: #5a5f6d;
  background-color: #f6f5f0;
  border-color: #cecdc8;
  width: 18vh;
  height: 20px;
  font-size: 18px;
}

form {
  background-color: #f6f5f0;
  text-align: left;
  margin-left: 10px;
}
label {
  margin: 5px;
}

.searchCriteria {
  width: fit-content;
  block-size: fit-content;
}

.forCriteria {
  width: fit-content;
  block-size: fit-content;
}

.byCriteria {
  block-size: fit-content;
  width: fit-content;
}

